.goods {
    padding-top: 30px;
    padding-bottom: 140px;
}

.goods__list {
    display: grid;
    grid-template-columns: 1160px 245px 245px;
    grid-template-rows: 228px 228px 516px;
    grid-template-areas: 
        "wrap-2 five five"
        "wrap-2 six six"
        "seven eight flex-1"
    ;
    gap: 60px;
}

.goods__wrap-2 {
    display: grid;
    grid-area: wrap-2;
    grid-template-columns: 
      [one-c-start]
      550px 
      [one-c-end two-c-start]
      516px;
      [two-c-end];
    gap: 94px;
}

.goods__wrap-1 {
    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 245px 228px;
    gap: 43px 60px;
    grid-column: one-c-start / one-c-end;
}


.goods__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.goods__text {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;

}

.good__text-regular {
    font-weight: 400;
}
 
.good__text-regular-mb{

}

.goods__text--fz-30 {
    font-size: 30px;
}

.goods__text--blue {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
}
.good__text--bold-blue {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
}

.goods__text-wrap--blue{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 476px;
    height: 167px;
    background-color: #38C0EB;
    border-radius: 20px;    
    padding: 0 20px;
}

.goods__text-wrap{
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 643px;
    height: 108px;
    background-color: #FFFFFF;
    border-radius: 20px;    
    text-align: center;

}

.goods__text--red{
    line-height: 120%;

    vertical-align: middle;
    text-transform: uppercase;
    color: #F91155;
}

.goods__item--1{
    background-image: url("../images/book.jpg");
    background-repeat: no-repeat;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 90px 35px 27px 20px;
}

.goods__item--2 {
    position: relative;
    background-image: url("../images/clock.jpg");
    background-repeat: no-repeat;
    grid-column: 2/ 3;
    grid-row: 1 / 2;
    padding: 77px 0 0 14px;
}
.goods__item--2::before {
    position: absolute;
    content: "-25%";
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    bottom: 20px;
    right: 27px;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    display: flex;              /*Выравнивает скидку внутри :before*/
    justify-content: center;
    align-items: center;
}


.goods__item--3 {
    position: relative;
    background-image: url("../images/red_snicker.jpg");
    background-repeat: no-repeat;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.goods__item--3::before {
    position: absolute;
    content: "-40%";
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    left: 20px;
    top: 20px;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    display: flex;              /*Выравнивает скидку внутри :before*/
    justify-content: center;
    align-items: center;
}

.goods__item--4 {
    background-image: url("../images/snickers.jpg");
    background-repeat: no-repeat;
    grid-column: two-c-start / two-c-end ;
    padding: 329px 20px 20px;
}



.goods__item--5 {
    background-image: url("../images/christmas_present.jpg");
    background-repeat: no-repeat;
    grid-area: five;
    padding: 94px 180px 0 30px;
}

.goods__item--6 {
    position: relative;
    background-image: url("../images/laptop.jpg");
    background-repeat: no-repeat;
    grid-area: six;
    padding: 136px 0 0 30px;
}

.goods__item--6::before {
    position: absolute;
    content: "-15%";
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    bottom: 20px;
    right: 20px;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    display: flex;              /*Выравнивает скидку внутри :before*/
    justify-content: center;
    align-items: center;
}

.goods__item--7 {
    background-image: url("../images/2022.jpg");
    background-repeat: no-repeat;
    grid-area: seven;
    padding: 358px 0 0 50px;
}

.goods__item--8 {
    position: relative;
    background-image: url("../images/girl.jpg");
    background-repeat: no-repeat;
    grid-area: eight;
}

.goods__item--8::before {
    position: absolute;
    content: "-55%";
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    bottom: 20px;
    right: 20px;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    display: flex;              /*Выравнивает скидку внутри :before*/
    justify-content: center;
    align-items: center;
}

.goods__flex-wrap {
    display: flex;
    flex-direction: column;
    gap: 26px;
    grid-area: flex-1;
}

.goods__item--9 {
    position: relative;
    background-image: url("../images/chemicals.jpg");
    background-repeat: no-repeat;
    padding-left: 20px;
}

.goods__item--9::before {
    position: absolute;
    content: "-25%";
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    text-align: center;
    top: 20px;
    left: 20px;
    width: 88px;
    height: 88px;
    background-color: #FFBD13;
    border-radius: 50%;
    display: flex;              /*Выравнивает скидку внутри :before*/
    justify-content: center;
    align-items: center;
}

.goods__text--chemicals{
    position: absolute;
    bottom: 37px;
}

.goods__item--10 {
    background-image: url("../images/christmas_balls.jpg");
    background-repeat: no-repeat;

}
